{% extends 'baseBack.html.twig' %}

{% block change %}
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <input class="form-control" id="myInput" type="text" id="navbar-search-input" placeholder="Rechercher" aria-label="search" aria-describedby="search">
                    <a href="{{ url('comptesliste')}}"><button type="button" class="btn btn-google " name="button" style="margin-left: 100px; color:white;">  PDF  </button></a>
                    <a  href="{{ url('statscompte')}}"> <button type="button" class="btn btn-google " name="button" style="margin-left: 100px; color:white;">  Stats </button></a>
                    <a  href="{{url('compte_index') }}"><button type="button" class="btn btn-google " name="button" style="margin-left: 100px; color:white;">	Sort by date</button></a>
                    <a  href="{{url('csv') }}"><button type="button" class="btn btn-google " name="button" style="margin-left: 100px; color:white;">csv</button></a>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>NUsername</th>
                            <th>Last name</th>
                            <th>First name</th>
                            <th>Age</th>
                            <th>Email address</th>
                            <th>Password</th>
                            <th>Phone number</th>
                            <th>Creation date</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody id="hi">
                        {% for compte in comptes %}
                            <tr>
                                <td>{{ compte.username }}</td>
                                <td>{{ compte.nom }}</td>
                                <td>{{ compte.prenom }}</td>
                                <td>{{ compte.age }}</td>
                                <td>{{ compte.adresseMail }}</td>
                                <td>{{ compte.motDePasse }}</td>
                                <td>{{ compte.numTel }}</td>
                                <td>{{ compte.date ? compte.date|date('Y-m-d') : '' }}</td>
                                <td>
                                    <a class="badge badge-warning" href="{{ path('compte_show', {'id': compte.id}) }}">show</a>
                                    <a class="badge badge-success" href="{{ path('compte_edit', {'id': compte.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="10">no records found</td>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#hi tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
{% endblock %}