{% extends 'basefrontClientDonia.html.twig' %}

{% block title %}Offre index{% endblock %}

{% block change %}
    <div class="search-top active">
        <form action="{{ path('recherche') }}" class="search-form" method="get">
            <input type="text" name="s" value="" placeholder="Search here">
            <button type="submit" id="searchsubmit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="topbar">
        <div class="container">
            <div class="row">





                <form method="post" id="contactForm" action="{{ path('search') }}" id="search_form_1" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                    <div class="search_item">
                        <div style='align-content: center'>
                            <div class="col-md-8 col-sm-8">

                                date d'entrée 1 :
                                <input type="datetime-local" placeholder="Search1..." required="" name="search1"></br>

                                date d'entrée 2 :
                                <input type="datetime-local" placeholder="Search2..." required="" name="search2">

                                <input type="submit" value="rechercher"  class="btn btn-success">
                            </div>
                        </div>
                    </div>
                </form>

                <div class="clearfix" align="center" >   </br>
                    <form method="post" action="{{ path('tri') }}">
                        <button class="btn btn-success">tri par date</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
    <center><h1>Mes offres</h1></center>
    <div class="container">
        <div class="row">
            {% for offre in offres %}

                    <div class="col-lg-4 col-md-4 col-12">

                        <div class="portfolio-main">
                            <div id="portfolio-item"
                                 class="portfolio-item-active cbp cbp-caption-active cbp-caption-overlayBottomPush cbp-ready"
                                 style="height: 662px;">
                                <div class="cbp-wrapper-outer">
                                    <div class="cbp-wrapper">
                                        <div class="cbp-item business animation">
                                            <div class="cbp-item-wrapper">
                                                <!-- Single Portfolio -->
                                                <div class="single-portfolio">
                                                    <div class="portfolio-head overlay">
                                                        <img src="/uploads/{{offre.idCategorie.photo }}"
                                                             style="min-width: 10px; min-height:10px" alt="#">
                                                        <a class="more"
                                                           href="{{ path('offre_show', {'id': offre.id}) }}"><i
                                                                    class="fa fa-long-arrow-right"></i></a>
                                                    </div>
                                                    <div class="portfolio-content">
                                                        <h4><a href="">{{ offre.titre }}</a></h4>
                                                        <p> {{offre.idCategorie.nom }}</p>
                                                        <p>{{ offre.date ? offre.date|date('Y-m-d') : '' }}
                                                            , {{ offre.description }}</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}

        </div>
    </div>
    </div>


{% endblock %}











